# ==========================================
# C# / .NET / Visual Studio
# ==========================================
bin/
obj/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# ==========================================
# Java / BlueJ
# ==========================================
*.class
*.ctxt
*.bluej
*.bak
*.jar
/bluej.pkg
*.pkg

# ==========================================
# Archivos de Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db